{{!-- Si Admin co --}}

{{#if admin}}
<section id="all-avis">
  <h1>Tous les témoignages </h1>
  <p>Retrouvez dans cette rubrique les témoignages receuillis de mes client </p>


  {{#each temoignages}}
  <div class="avis">
    <h3>{{this.type_seance}}</h3>
    <p class="paragraph">{{this.message}}</p>
    <p class="signature">{{this.signature}}</p>
  </div>

  <a href="/temoignages/{{id}}/edit">Edit</a>
  <form action="/temoignages/{{id}}/delete" method="POST">
    <button>Delete</button>
  </form>
  {{/each}}

</section>

{{else}}

{{!-- Si user ou visiteur co --}}

<section id="all-avis">
  <h1>Tous les témoignages </h1>
  <p>Retrouvez dans cette rubrique les témoignages receuillis de mes client </p>

  {{#each temoignages}}
  <div class="avis">
    <h3>{{this.type_seance}}</h3>
    <p class="paragraph">{{this.message}}</p>
    <p class="signature">{{this.signature}}</p>

  </div>
  {{/each}}

</section>


{{/if}}