

{{!-- Si Admin co --}}

{{#if message}}
<section>
  <h1>Tous les témoignages : </h1>
  <ul>
    {{#each temoignages}}
    <li>
      <h3>{{this.type_seance}}</h3>
      <p>{{this.message}}</p>
      <p>{{this.signature}}</p>

    </li>
    <a href="/temoignages/{{id}}/edit">Edit</a>
    <form action="/temoignages/{{id}}/delete" method="POST">
      <button>Delete</button>
    </form>
    {{/each}}
  </ul>
</section>
{{/if}}


{{!-- Si user ou visiteur co --}}

<section>
  <h1>Tous les témoignages : </h1>
  <ul>
    {{#each temoignages}}
    <li>
      <h3>{{this.type_seance}}</h3>
      <p>{{this.message}}</p>
      <p>{{this.signature}}</p>

    </li>
    {{/each}}
  </ul>
</section>