<header id="global-head-articles">
  <h1>Tous les articles</h1>
</header>
{{!-- Si l'admin est co --}}


{{#if admin}}


<ul>
  <h3>ADMIN</h3>
  <li> <a href="/articles/create"> Créer un
      article <img class="arrow-link" src="images/arrow-right.png" alt="arrow-link"></a></li>
</ul>

<section id="all-articles">
  {{#each articles}}
  <div class="container-article-main">
    <img src='{{this.imageUrl}}' width='100px' />
    <div>
      <h3>{{this.title}}</h3>
      <span id="article-date">{{this.createdAt2}}</span>
      {{!-- <p>{{this.video}}</p> --}}
      <p>{{this.description}}</p>
    </div>

    <div class="buttons-articles">
      <form action="/articles/{{id}}/like" method="POST">
        <button><span>{{this.like}} ♡ LIKE</span> </button>
      </form>
      <div class="buttons-botom"><a class="btn-read-article" href="/articles/{{title2}}/{{id}}">Lire l'article <img
            class="arrow-link" src="images/arrow-right.png" alt="arrow-link"></a>
        <a class="btn-edit" href="/articles/{{id}}/edit">Edit</a>
        <form action="/articles/{{id}}/delete" method="POST">
          <button>Delete</button>
        </form>
      </div>


    </div>

  </div>


  {{/each}}

</section>


{{else}}

{{!-- Si simple user ou visiteur --}}



<section id="all-articles">
  {{!-- <h2>Tous les articles</h2> --}}
  {{#each articles}}
  <div class="container-article-main">

    <img src='{{this.imageUrl}}' width='100px' />

    <div>
      <h3>{{this.title}}</h3>
      <span id="article-date">{{this.createdAt2}}</span>
      {{!-- <p>{{this.video}}</p> --}}
      <p>{{this.description}}</p>
    </div>


    <div class="buttons-articles">
      <form action="/articles/{{id}}/like" method="POST">
        <button><span>{{this.like}} ♡ LIKE</span></button>
      </form>
      <a class="btn-read-article" href="/articles/{{title2}}/{{id}}">Lire l'article <img class="arrow-link"
          src="images/arrow-right.png" alt="arrow-link"></a>
    </div>


  </div>
  {{/each}}
  {{/if}}
</section>