<section class="article-details">
  <h1>{{article.title}}</h1>
  {{!-- <span id="article-date">{{this.createdAt2}}</span> --}}

  <p>{{article.description}}</p>

  {{#if article.imageUrl}}
  <img src='{{article.imageUrl}}' width='100px' />
  {{/if}}

  {{#if article.video}}
  <video controls>
    <source src="{{article.video}}" type="">
  </video>
  {{/if}}

  <div>
    <h2>Hypnose et bien-être</h2>
    <p>Lorem ipsum ipsum lorem Lorem ipsum ipsum lorem Lorem ipsum ipsum loremLorem ipsum ipsum lorem</p>
    <p>Lorem ipsum ipsum loremLorem ipsum ipsum lorem Lorem ipsum ipsum lorem Lorem ipsum ipsum lorem Lorem ipsum ipsum
      lorem</p>
  </div>


  <div>
    <h2>Conscient/ inconscient</h2>
    <p>Lorem ipsum ipsum lorem Lorem ipsum ipsum lorem Lorem ipsum ipsum loremLorem ipsum ipsum lorem</p>
    <p>Lorem ipsum ipsum loremLorem ipsum ipsum lorem Lorem ipsum ipsum lorem Lorem ipsum ipsum lorem Lorem ipsum ipsum
      lorem</p>
  </div>


  <div>
    <h2>Le déroulement d'une séance</h2>
    <p>Lorem ipsum ipsum lorem Lorem ipsum ipsum lorem Lorem ipsum ipsum loremLorem ipsum ipsum lorem</p>
    <p>Lorem ipsum ipsum loremLorem ipsum ipsum lorem Lorem ipsum ipsum lorem Lorem ipsum ipsum lorem Lorem ipsum ipsum
      lorem</p>
  </div>


  {{!-- <a class="btn-edit-article" href="/articles/{{article.title2}}/{{article.id}}/edit">Edit</a>
  <form action="/articles/{{article.title}}/{{article.id}}/delete" method="POST">
    <button>Delete</button>
  </form> --}}
</section>