<section id="article-edit">
  <h2>Editer l'article {{article.title}}</h2>
  <form action="/articles/{{article.id}}/edit" method="POST" enctype="multipart/form-data">
    <label>
      <h2> Titre</h2>
      <input type="text" name="title" value="{{article.title}}" />
    </label>

    <label>
      <h2>Image</h2>
      <img src='{{article.imageUrl}}' width='100px' />
      <input type="file" name="image" />
    </label>

    <label>
      <h2>Vidéo</h2>

      <input type="text" name="video" value="{{article.video}}" />
    </label>

    <label>
      <h2>Description</h2>

      <textarea type="text" name="description">{{article.description}}</textarea>
    </label>

    <button>Editer l'article</button>

  </form>
</section>