<section id="container-push-about-hp">
    {{#if succesNotif}}
    <span class="success-subscribed-notif"> {{succesNotif}}</span>

    {{/if}}

    {{#if rdvMessage}}
    <span class="success-subscribed-notif"> {{rdvMessage}}</span>

    {{/if}}
    <div class="push">

        <div class="container-presentation">
            <h1>FABIENNE ILIC</h1>
            <article>
                <p> Avec le recul, je me dis que j’avais trouvé intuitivement une façon de me libérer du mental et de
                    mes souffrances en revenant à l’instant présent dans la pratique artistique. Je ne savais pas alors
                    que j’étais en état d’hypnose ou transe…Je vivais un état de conscience modifié. En effet, un
                    artiste explore souvent cette zone lors d’un processus de création… </p>
            </article>
            <a href="/fabienne-ilic">EN SAVOIR PLUS <img class="arrow-link" src="images/arrow-right.png"
                    alt="arrow-link"></a>

        </div>
        <div class="size-image-practicien"> <img src="images/fabienne-ilic.png" alt=""> </div>
    </div>


</section>
<section id="video-hp">




    <iframe class="ytb-video" src="https://www.youtube.com/embed/mIeX-2vLubo?controls=0&showinfo=0&modestbranding=1">

    </iframe>


    {{!-- <video src="">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/mIeX-2vLubo" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </video> --}}

</section>
<section class="quote">
    <div class="guillemet-left"><img src="images/quote-left.png" alt="guillemet gauche"></div>
    <blockquote class="text-quote">Il n’y a rien de plus réellement artistique que d’aimer les gens</blockquote>
    <div class="guillemet-right"><img src="images/quote-right.png" alt="guillemet droite"></div>
    <div class="author-quote">Van GOGH</div>

</section>

<section id="seances">

    <div id="container-seances">
        <h2>LES SEANCES</h2>
        <div class="container-seance">
            <h3>SEANCE D'HYPNOSE</h3>
            <div class="container-links">
                <div> <a href="/prendre-rdv">PRENDRE RDV</a> </div>
                <div> <a href="/hypnotherapeute">EN SAVOIR PLUS</a> </div>
            </div>
        </div>
        <div class="container-seance">
            <h3>SEANCE DE SOPHROLOGIE</h3>
            <div class="container-links">
                <div> <a href="/prendre-rdv">PRENDRE RDV</a> </div>
                <div> <a href="/sophrologue">EN SAVOIR PLUS</a> </div>
            </div>
        </div>
        <div class="container-seance">
            <h3>SEANCE DE MAGNETISME</h3>
            <div class="container-links">
                <div> <a href="/prendre-rdv">PRENDRE RDV</a> </div>
                <div> <a href="/magnetiseur">EN SAVOIR PLUS</a> </div>
            </div>
        </div>
    </div>


</section>
<h2 class="title-article">ARTICLE DU MOMENT</h2>
<section id="article-du-moment">
    <div class="arr-left"> <img src="images/arrow-left-slider.png" alt=""></div>
    <div class="arr-right"> <img src="images/arrow-right-slider.png" alt=""> </div>

    <div class="container-slider">


        {{#each articles}}
        <div class="container-article-hp">

            <img src="{{this.imageUrl}}" alt="">

            <div class="container-infos">
                <h3>{{this.title}}</h3>
                <span id="article-date">{{this.createdAt2}}</span>
                <p>{{this.description}}</p>
                <a href="/articles/{{title2}}/{{id}}">EN SAVOIR PLUS <img class="arrow-link"
                        src="images/arrow-right.png" alt="arrow-link"></a>
            </div>
        </div>
        {{/each}}


    </div>

</section>

<div class="link-articles"><a href="/articles">TOUS LES ARTICLES <img class="arrow-link" src="images/arrow-right.png"
            alt="arrow-link"></a></div>




<h2 class="title-article">VOS TEMOIGNAGES</h2>
<section id="temoignages">


    <div id="slider">
        {{#each temoignages}}
        <div class="container-avis">
            <h3 class="title-avis">{{this.type_seance}}</h3>
            <blockquote> <p>{{this.message}}</p>
            </blockquote>
            <div class="author-avis">{{this.signature}}</div>
        </div>
        {{/each}}

    </div>











</section>

<div class="link-articles"><a href="/temoignages">TOUS LES TEMOIGNAGES<img class="arrow-link"
            src="images/arrow-right.png" alt="arrow-link"></a></div>

<section class="quote">
    <div class="guillemet-left"><img src="images/quote-left.png" alt="guillemet gauche"></div>
    <blockquote class="text-quote">Nous portons en nous des merveilles que nous cherchons en dehors de nous…
    </blockquote>
    <div class="guillemet-right"><img src="images/quote-right.png" alt="guillemet droite"></div>
    <div class="author-quote">Thomas Browne</div>

</section>