{{!-- Si l'admin est co --}}

{{#if message}}
{{message}}

<h2>Tous les articles : </h2>

<div>
  <ul>
    {{#each articles}}
    <li>
      <h3>{{this.title}}</h3>
      <img src='{{this.imageUrl}}' width='100px' />
      <p>{{this.video}}</p>
      <p>{{this.description}}</p>
      <p>{{this.like}}</p>

      <form action="/articles/{{id}}/like" method="POST">
        <button>LIKE</button>
      </form>
      
      <a href="/articles/{{title2}}/{{id}}">En savoir plus</a>
      <a href="/articles/{{id}}/edit">Edit</a>
      <form action="/articles/{{id}}/delete" method="POST">
        <button>Delete</button>
      </form>

    </li>
    

    {{/each}}
  </ul>
</div>


{{else}}

{{!-- Si simple user ou visiteur --}}

<h2>Tous les articles : </h2>

<div>
  <ul>
    {{#each articles}}
    <li>
      <h3>{{this.title}}</h3>
      <img src='{{this.imageUrl}}' width='100px' />
      <p>{{this.video}}</p>
      <p>{{this.description}}</p>
      <p>{{this.like}}</p>

      <form action="/articles/{{id}}/like" method="POST">
        <button>LIKE</button>
      </form>
    </li>
    {{/each}}
  </ul>
</div>
{{/if}}