
{{!-- Si l'admin est co --}}

  {{#if message}}
  {{message}}

  Coucou, je suis la page qui montre tous les articles

<h2>Tous les articles : </h2>

<div>
<ul>
  {{#each articles}}
  <li>
    <h3>{{this.title}}</h3>
    <img src = '{{this.imageUrl}}' width='100px'/>
    <p>{{this.video}}</p>
    <p>{{this.description}}</p>

    <form action="/articles/{{id}}/like" method="POST">
  <button>LIKE</button>
    

  </li>
  <a href="/articles/{{title2}}/{{id}}">En savoir plus</a>
  <a href="/articles/{{id}}/edit">Edit</a>
  <form action="/articles/{{id}}/delete" method="POST">
  <button>Delete</button>
  </form>
  
  {{/each}}
</ul>
</div>

{{/if}}



{{!-- Si simple user ou visiteur --}}

 Coucou, je suis la page qui montre tous les articles

<h2>Tous les articles : </h2>

<div>
<ul>
  {{#each articles}}
  <li>
    <h3>{{this.title}}</h3>
    <img src = '{{this.imageUrl}}' width='100px'/>
    <p>{{this.video}}</p>
    <p>{{this.description}}</p>
    <p>{{this.like}}</p>
  {{/each}}
</ul>
</div>
