Coucou , je suis la page de détail d'un articles

<h2>{{article.title}}</h2>

{{#if article.imageUrl}} 
<img src='{{article.imageUrl}}' width ='100px'/>
{{/if}}

{{#if article.video}} 
<video controls>
  <source src="{{article.video}}" type="">
</video>
{{/if}}

<p>{{article.description}}</p>


<a href="/articles/{{article.title2}}/{{article.id}}/edit">Edit</a>
<form action="/articles/{{article.title}}/{{article.id}}/delete" method="POST">
  <button>Delete</button>
</form>