Coucou , je suis la page de détail d'un articles

<h2>{{article.title}}</h2>

{{#if article.imageUrl}} 
<img src='{{article.imageUrl}}' width ='100px'/>
{{/if}}

{{#if article.video}} 
<video controls>
  <source src="{{article.video}}" type="">
</video>
{{/if}}

<p>{{article.description}}</p>

{{!-- formulaire pour les likes --}}
    <form action='/articles/{{id}}/like' method="POST">
    <button id='like'>{{this.like}}</button>
    </form>

<a href="/articles/{{id}}/edit">Edit</a>
<form action="/articles/{{id}}/delete" method="POST">
  <button>Delete</button>
</form>