<section id="dashboard">

  <header>
    <h1>Bienvenue sur le Dashboard {{user.name}}</h1>
  </header>
  <h2>Mes articles favoris</h2>


  <div class="container-article">

    {{#each user.articles_like}}


    <div class="articles-favoris">
      <img src='{{this.imageUrl}}' width="200px" />

      <h3>{{this.title}}</h3>

      <p> {{this.description}}</p>

      <form action="/articles/{{id}}/dislike" method="POST">
        <button>Enlever des articles favoris</button> </form>
    </div>



    {{/each}}


  </div>

  <div id="edit_profil">
    <h2>Mes informations personnels</h2>
    <form id='edit' action="/dashboard" method="POST">
      <label>
        <h3>Prénom</h3>
        <input type="text" name="name" value="{{user.name}}" />
      </label>

      <label>
        <h3>Nom de Famille</h3>
        <input type="text" name="last_name" value="{{user.last_name}}" />
      </label>

      <label>
        <h3>Email</h3>
        <input type="email" name="email" value="{{user.email}}" />
      </label>

      <label>
        <h3>Telephone</h3>
        <input type="text" name="tel" value="{{user.tel}}" />
      </label>

    </form>
    <button id='buttonEdit'>Editer mes infos perso</button>
    {{#if errorMessage}}
    <div class="error-message">{{errorMessage}}</div>
    {{/if}}
    <form action="/dashboard/{{user._id}}/delete" method="POST">
      <button class="delete-compte">Supprimer mon compte</button>
    </form>
  </div>








</section>